* {
  box-sizing: border-box;
  margin: 0 auto;
  text-decoration: none;
}

 

.main {
  background-image: url("./resized.png");
  background-size: contain;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 915px;
  opacity: 0.6;
  background-color: rgb(25, 157, 207);
  display:flex;
  justify-content:center;
}

 

.logo {
  background: url("./logo.jpeg") no-repeat;
  max-width: 100%;
  width: 100px;
  height: 100px;
  background-size: contain;
  float: left;
}

.display-all-button {
  border: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.animate__animated {
  --animate-duration: 3s;
  --animate-delay: 0.9s;
}

.search-bar {
 background-color: transparent;
}

.search-container {
  margin-top: 20px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  
}

.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: rgb(13, 13, 14);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search:hover {
  cursor: pointer;
}

.search:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.search:after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

/* input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;

  background: rgb(233, 235, 236);
  color: rgb(15, 14, 14);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 rgb(138, 160, 207), 0 20px 25px 0 rgba(0, 0, 0, 0.2);

  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
} */

/* input:hover {
  cursor: pointer;
}

input:focus {
  width: 50%;
  opacity: 1;
  cursor: text;
  margin-right: 50px;
}

input:focus~.search {
  right: -100%;
  background: #151515;
  z-index: 6;
} */

input.search:before {
  top: 0;
  left: 0;
  /* width: 25px; */
}

input.search:after {
  top: 0;
  left: 0;
  /* width: 10px; */
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

input.search:placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

 .film-card {
  width: 50%;
  height: 450px;
  margin: 10px;
  background-color: rgb(233, 235, 236);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgb(138, 160, 207), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.film-card__title {
  font-family: "Inconsolata", monospace;
  /* responsive font */
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.film-card__description {
 /* font family for anime things */
  font-family: "Inconsolata", monospace;
   /* responsive font */
  font-size: 1rem;
  font-weight: bolder;
  color:rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.film-card__director {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.film-card__producer {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.film-card__release-date {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.film-card__rt-score {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 10px rgb(161, 205, 253);
  letter-spacing: 0.1em;
  margin: 10px;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}